*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(120, 64%, 85%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--------HEADER---------*/

.grid-contenedor{
display: grid;
grid-template-columns: repeat (1fr, 1fr, 1fr,);
grid-template-rows: auto 250px 150px;
grid-template-areas: 
"header header header"
"herosection herosection herosection"
"secundary secundary secundary"
"footer footer footer";
}

/*---------MEDIA QUERY------------*/ 

@media screen and (max-width: 800px){
    .grid-contenedor{
        width: 100%;
        margin: 0;
        grid-template-columns: repeat (1fr, 1fr,);
        grid-template-rows: auto auto 150px;
        grid-template-areas: 
        "header header"
        "herosection herosection"
        "secundary secundary"
        "footer footer"
        ;
    }

}


body header {border-color: rgb(151, 147, 147);
border-style: solid;
border-width: 2px;
grid-area: header;

}
nav h1 {
    font-size: 50px;
}

body header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header nav {
    display: flex;
background-image: url(../img/green-card-1326105.jpg);
width: 100%;
height: 500px;
background-size:cover;
}

header nav h1 {
    background-color: white;
    border-color: white;
    text-align: center;
     width: 700px; height: 65px;
border-style: groove;
margin: 2px;
    padding-left: 10px;
    padding-top:5px;
}

.english{
    border-color: white;
    background-color: white;
    width: 80px; height: 25px fit-content;
    border-style: groove;
    margin: 2px;
    padding-left: 10px;
    padding-top:2px;
}

.english a {
    text-decoration: none;
}
.español{
    border-color: white;
    background-color: white;
    width: 80px; height: 25px fit-content;
border-style: groove;
margin: 2px;
    padding-left: 10px;
    padding-top:2px;
}
.español a{
    text-decoration: none;
}

/*--hero section--*/
.herosection {    

    width: 100%;
    height: 450px;
    background-color: hsl(120, 77%, 83%);
    display: flex;
    grid-area: herosection;
}
.herosection h2{
text-align: center;
margin: 30px 30px 30px 30px;
}
.ourresults{
    text-align: justify;
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;}

.results-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);
}

.sub-results{
    background-color: rgba(255, 255, 255, 0.384);
}

.ourteam{
    text-align: justify;
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;}

.team-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);}
.sub-team{
   
 background-color: rgba(255, 255, 255, 0.384);
}
.sub-team a{
    text-decoration: none;
}
.ouroffices{
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;
    padding-top: 3px;
}

.sub-offices{
    background-color: rgba(255, 255, 255, 0.384);
}
.sub-offices ul li {
    list-style: none;
}
.sub-offices ul li a{
    text-decoration: none;
}
.offices-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);
}
/*--SECUNDARY SECTION--*/

.secundary {
    border-style: groove;
    display: flex;
    text-align: center;
    padding: 80px 80px 80px 80px;
    display: flex ;
    flex-direction: row;
    justify-content: space-around;
    grid-area: secundary;
}

.schedule{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule:hover{
    background-color:  rgb(169, 169, 247);
    color: white;
}

.ally{
    margin-top: 50px;
    margin-left: -45px;
    border: radius 7px rgb(169, 169, 247) solid;
    width: 680px;
    height: 430px;
    width: fit-content;
    height: fit-content;
    background-image: url(../img/Ally.jpg)
}
.schedule-title{
    padding: 50px;

}

/*--footer--*/
.footer {
    width: 100%px; height: 250px;
    background-size: cover;
    background-color: rgb(169, 169, 247);
    display: flex;
    border-style: groove;
    grid-area: footer;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;
    width: 33.5%;
}
.offices{
    width: 33.5%;
}
.offices ul li{
    list-style: none;
}
.offices ul li a{
    text-decoration: none;
}

.work{
    width: 33.5%;
}

.offices2{
    padding: 40px;
    font-size: 20px;
    font-style: bold;
}
.work-title{
    padding: 40px;
    font-size: 20px;
    font-style: bold;}
.work p a{
    text-decoration: none;
}
/*--SEATTLE PAGE--*/

.seattle-consult{
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.seattleimg{
    display: flex;
background-image: url(../img/Seattle\ Office.jpg); 
width: 100%;
height: 96vh;
background-size: cover;
background-attachment: fixed;}

.schedule-seattle{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-seattle:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footersea {
        width: 100%px; height: 250px;
        background-size: cover;
        background-color: rgb(169, 169, 247);
        display: flex;
    border-style: groove;
}
    .redes{
        width: 500px; height: 50px;
        padding-left: 7px;
    }
    .offices {
        width: 500px; height: 50px;
    }
    .work {
        width: 500px; height: 50px;
        padding-right: 17px;
        text-align: justify;
}

/*--Chicago PAGE--*/

.chicagoimg{
background-image: url(../img/Chicago\ office.jpg);
width: 100%;
height: 96vh;
background-size: cover;
background-attachment: fixed;
}
.schedule-chicago{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-chicago:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}
.footerchi{
    width: 100%px; height: 250px;
        background-size: cover;
        background-color: rgb(169, 169, 247);
        display: flex;
        justify-content: space-between;
    border-style: groove;
}

.chicago-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;}

/*--Texas Office PAGE--*/


.texasimg{
    background-image: url(../img/Texas\ office.jpg);
    width: 100%;
    height: 96vh;
    background-size: cover;
background-attachment: fixed;
}
.schedule-texas{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-texas:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footertex{
    width: 100%px; height: 250px;
        background-size: cover;
        background-color: rgb(169, 169, 247);
        display: flex;
    border-style: groove;
}

.texas-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*--Los Angeles--*/

.laimg{
   background-image: url(../img/New\ york\ office.jpg);
   width: 100%;
   height: 96vh;
   background-size: cover;
background-attachment: fixed;
}

.schedule-la{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-la:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footerla{
    width: 100%px; height: 250px;
        background-size: cover;
        background-color: rgb(169, 169, 247);
        display: flex;
    border-style: groove;
}
.la-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*------NOSOTROS-----*/

/*--------MEDIA QUERY---------*/
.grid-nosotros{
    display: grid;
    grid-template-columns: repeat(3 1fr) ;
    grid-template-rows: 450px 450px 350px;
    grid-template-areas: 
    "galery1 galery1 galery1"
    "galery2 galery2 galery2";
    margin: 0;
    width: 100%;
    margin: 20px;
}
@media screen and (min-width: 850px) {
    .grid-nosotros{
    grid-template-columns: repeat(2 1fr) ;
    grid-template-rows: 450px 450px;
    grid-template-areas: 
    "galery1 galery1"
    "galery2 galery2";}
}
 

.us{
    background-image: url(../img/books.jpg);
}
.galery1{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    grid-area: galery1;
}
.abrazo{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
}
.abrazo img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;}
.abrazo:hover{
    background-color:  hsl(120, 64%, 85%);
    color: white;}
.hi5{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
}
.hi5 img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;
}
.hi5:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;}
.manos{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
}
.manos img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;
}
.manos:hover{
    background-color:  hsl(120, 64%, 85%);
    color: white;}
    
    .galery2{
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        grid-area: galery2;
    }
    .lady{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
        margin-left: 30px;
    }
    .lady img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .lady:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;}
    .cruzadas{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
    }
    .cruzadas img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .cruzadas:hover{
            background-color:  hsl(120, 64%, 85%);
            color: white;
        }
    .papers{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
    }
    .papers img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .papers:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;}