*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2,0,36);
        background: linear-gradient(255deg, rgba(2,0,36,1) 2%, rgba(107,74,74,1) 50%, rgba(85,126,129,1) 100%, rgba(71,158,162,0) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--------HEADER---------*/

@media screen and (max-width: 900px){

    .herosection{
        display: flex;
    }
     
    .header{
        height: fit-content;
        width: 100%;
    }

    .secundary{
        display: flex;
        width: fit-content;
        height: fit-content;
        align-items:first baseline;
    }
    .ally img{
        width: 500px;
        height: 270px;
    }
    .schedule form{
        width: 300;
        height: 500px;
    }
    
    .footer{
        display: flex;
        height: fit-content;
    }
    .work {
        text-align: justify;
        padding: 0;
        height: fit-content;

    }
}
@media screen and (max-width: 700px){
    
    .secundary{
        display: flex;
        flex-direction: column;
    }
    .ally img{
        width: 500px;
        height: 270px;
    }
    .schedule form{
        width: 300;
        height: 500px;
    }
    
    .footer{
        display: flex;
        height: fit-content;
    }
    .work {
        text-align: justify;
        padding: 0;
        height: fit-content;
}
}

body header {border-color: rgb(151, 147, 147);
border-style: solid;
border-width: 2px;
grid-area: header;

}
nav h1 {
    font-size: 50px;
    background-color: white;
    border-color: white;
    text-align: center;
     width: 500px; height: 65px;
    border-style: groove;
    margin: 2px;
    padding-left: 10px;
    padding-top:5px;
}

body header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../img/green-card-1326105.jpg);
    width: 100%;
    height: 500px;
    background-size:cover;
}

.english{
    border-color: white;
    background-color: white;
    width: 80px; height: 25px fit-content;
    border-style: groove;
    margin: 2px;
    padding-left: 10px;
    padding-top:2px;
}

.english a {
    text-decoration: none;
}
.español{
    border-color: white;
    background-color: white;
    width: 80px; height: 25px fit-content;
border-style: groove;
margin: 2px;
    padding-left: 10px;
    padding-top:2px;
}
.español a{
    text-decoration: none;
}

/*--hero section--*/
.herosection {    

    width: 100%;
    height: 450px;
    display: flex;
    grid-area: herosection;
}
.herosection h2{
text-align: center;
margin: 20px 20px 20px 20px;
}
.ourresults{
    text-align: justify;
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;}

.results-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);
}

.sub-results{
    background-color: rgba(255, 255, 255, 0.384);
}

.ourteam{
    text-align: justify;
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;}

.team-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);}
.sub-team{
   
 background-color: rgba(255, 255, 255, 0.384);
}
.sub-team a{
    text-decoration: none;
}
.ouroffices{
    height: 500px;
    width: 33.5%;
    border-style: groove;
    padding: 10px;
    padding-top: 3px;
}

.sub-offices{
    background-color: rgba(255, 255, 255, 0.384);
}
.sub-offices ul li {
    list-style: none;
}
.sub-offices ul li a{
    text-decoration: none;
}
.offices-title:hover{
    font-size: 30px;
    color:  rgb(169, 169, 247);
}
/*--SECUNDARY SECTION--*/

.secundary {
    border-style: groove;
    display: flex;
    text-align: center;
    padding: 80px 80px 80px 80px;
    display: flex ;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-area: secundary;
}

.vawa{
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 200px;
}
.vawa-title{
    font-size: 40px;
    color:  rgb(169, 169, 247);
    padding-bottom: 50px;
}
.vawa-title:hover{
    color:blue;
    font-size: 45px;
    transition: 2s;
}
.vawa-parf{
    justify-content: center;
    align-items: center;
}
.schedule{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule:hover{
    background-color:  rgb(169, 169, 247);
    color: white;
    transition: 2s;
}

.schedule-title{
    padding: 50px;

}

/*--footer--*/
.footer {
    width: 100%px; height: 250px;
    background-size: cover;
    display: flex;
    border-style: groove;
    grid-area: footer;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 18px;
    width: 33.5%;
}
.offices{
    width: 33.5%;
}
.offices ul li{
    list-style: none;
}
.offices ul li a{
    text-decoration: none;
}

.work{
    width: 33.5%;
}

.offices2{
    padding: 40px;
    font-size: 20px;
    font-style: bold;
}
.offices2:hover{
    font-size: 25px;
    color:  rgb(169, 169, 247);
    transition: 1s;
}
.work-title{
    padding: 40px;
    font-size: 20px;
    font-style: bold;}
    .work-title:hover{
        font-size: 25px;
        color:  rgb(169, 169, 247);
        transition: 1s;
    }
.work p a{
    text-decoration: none;
}
/*--SEATTLE PAGE--*/

.seattle-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.seattleimg{
    display: flex;
background-image: url(../img/Seattle\ Office.jpg); 
width: 100%;
height: 96vh;
background-size: cover;
background-attachment: fixed;}

.schedule-seattle{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-seattle:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footersea {
        width: 100%px; height: 250px;
        background-size: cover;
        display: flex;
        border-style: groove;
}
    .redes{
        width: 500px; height: 50px;
        padding-left: 7px;
    }
    .offices {
        width: 500px; height: 50px;
    }
    .work {
        width: 500px; height: 50px;
        padding-right: 17px;
        text-align: justify;
}

/*--Chicago PAGE--*/

.chicagoimg{
background-image: url(../img/Chicago\ office.jpg);
width: 100%;
height: 96vh;
background-size: cover;
background-attachment: fixed;
}
.schedule-chicago{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-chicago:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}
.footerchi{
    width: 100%px; height: 250px;
        background-size: cover;
        display: flex;
        justify-content: space-between;
    border-style: groove;
}
.redes{
    width: 500px; height: 50px;
    padding-left: 7px;
}
.offices {
    width: 500px; height: 50px;
}
.work {
    width: 500px; height: 50px;
    padding-right: 17px;
    text-align: justify;}

.chicago-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;}

/*--Texas Office PAGE--*/


.texasimg{
    background-image: url(../img/Texas\ office.jpg);
    width: 100%;
    height: 96vh;
    background-size: cover;
background-attachment: fixed;
}
.schedule-texas{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-texas:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footertex{
    width: 100%px; height: 250px;
        background-size: cover;
        display: flex;
    border-style: groove;
}
.redes{
    width: 500px; height: 50px;
    padding-left: 7px;
}
.offices {
    width: 500px; height: 50px;
}
.work {
    width: 500px; height: 50px;
    padding-right: 17px;
    text-align: justify;}

.texas-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*--Los Angeles--*/

.laimg{
   background-image: url(../img/New\ york\ office.jpg);
   width: 100%;
   height: 96vh;
   background-size: cover;
background-attachment: fixed;
}

.schedule-la{
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.384);
    color: black;
    margin-left: 90px;
    margin-top: 40px;
    width: 680px;
    height: 500px;
}

.schedule-la:hover{
    background-color:  rgb(169, 169, 247);
    color: white;}

.footerla{
    width: 100%px; height: 250px;
        background-size: cover;
        display: flex;
    border-style: groove;
}
.redes{
    width: 500px; height: 50px;
    padding-left: 7px;
}
.offices {
    width: 500px; height: 50px;
}
.work {
    width: 500px; height: 50px;
    padding-right: 17px;
    text-align: justify;}
.la-consult{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/*------NOSOTROS-----*/

@media screen and (min-width: 900px) {
  

    .us{
        display: flex;
        flex-direction: column;   
        background: rgb(2,0,36);
        background: linear-gradient(255deg, rgba(2,0,36,1) 2%, rgba(107,74,74,1) 50%, rgba(85,126,129,1) 100%, rgba(71,158,162,0) 100%);
    }
}
 header h1 a{
    text-decoration: none;
 }

.galery1{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    grid-area: galery1;
}
.abrazo{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
    transition: 2s;
}
.abrazo img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;}
.abrazo:hover{
    background-color:  hsl(120, 64%, 85%);
    color: white;
    width: 2000px;
    height: 400px;
    margin: auto;
}
.hi5{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
    transition: 2s;
}
.hi5 img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;
}
.hi5:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;
        width: 2000px;
        height: 400px;
        margin: auto;
}
.manos{
    background-color: rgb(169, 169, 247);
    margin: 7px;
    padding-left: 40px;
    padding-top: 5px;
    transition: 2s;
}
.manos img{
    width: 350px;
    height: 250px;
    border-radius: 5px;
    border: 3px groove;
}
.manos:hover{
    background-color:  hsl(120, 64%, 85%);
    color: white;
    width: 2000px;
    height: 400px;
    margin: auto;
}
    
    .galery2{
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        grid-area: galery2;
    }
    .lady{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
        margin-left: 30px;
        transition: 2s;
    }
    .lady img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .lady:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;
        width: 2000px;
        height: 400px;    
        margin: auto;
    }

    .cruzadas{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
        transition: 2s;
    }
    .cruzadas img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .cruzadas:hover{
            background-color:  hsl(120, 64%, 85%);
            color: white;
            width: 2000px;
            height: 400px;
            margin: auto;
        }
    .papers{
        background-color: rgb(169, 169, 247);
        margin: 7px;
        padding-left: 40px;
        padding-top: 5px;
        padding-right: 35px;
        transition: 2s;
    }
    .papers img{
        width: 350px;
        height: 250px;
        border-radius: 5px;
        border: 3px groove;
    }
    .papers:hover{
        background-color:  hsl(120, 64%, 85%);
        color: white;
        width: 2000px;
        height: 400px;
        margin: auto;
    }